// Load npm packages
@import '~normalize-styl'

// Remove this on new project
body
  background rgb(149, 193, 106)
  padding 5% 0
  text-align center
  color white

.posts
  text-align left
  max-width 800px
  margin 2rem auto
  
